* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.player {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50vh;
}
.player img {
  width: 150px;
  height: 150px;
  margin: 0 50px;
  transition: 0.2s;
}

.player img:hover {
  transform: scale(1.3);
}

.heading {
  text-align: center;
  font-weight: 400;
  background-color: brown;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 10px;
}

.playerChoice {
  font-size: 20px;
}

.large-btn {
  width: 100px;
  height: 40px;
}

.btn {
  background-color: brown;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.btn:hover {
  color: brown;
  background-color: white;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 5%;
}

.result {
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 30px;
  text-transform: uppercase;
}
